.paginationBttns {
  width: 91%;
  height: 80px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid  #3BFF2C;
  color:  #3BFF2C;
  cursor: pointer;
  background-color:orangered;

}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: #2b2eff;
}